.*
!.gitignore
*.[oa]
*.lo
*.la
*.log
*.scan
build
!m4/l*
stamp*
config*
Makefile*
missing
!aclocal.m4
autom4te.cache
!install-sh
!libtool
!depcomp
!ltmain.sh
!Makefile.am
!configure
!configure.ac
!config.h.in
*.tar.gz
*.tgz

